<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next</title>
  </head>
  <body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ducimus
    corrupti accusantium unde reiciendis repellendus totam vel perferendis iste
    animi, odit dolores dolorum illum neque voluptatibus eligendi minus? Hic
    modi magnam a eum placeat in corrupti atque deleniti quos doloribus sapiente
    repudiandae vitae facere alias non ipsum autem obcaecati, illum
    necessitatibus? Sed laudantium, obcaecati labore, nostrum earum ab quidem
    necessitatibus, velit nam ad consectetur quam. Doloremque molestias
    doloribus aliquid eaque soluta voluptates sint modi at, nostrum non
    voluptate. Quaerat tempora sint aperiam dignissimos laboriosam rerum ut
    aliquam assumenda facere odio! Modi praesentium placeat eum tempore officiis
    eius sunt quisquam quam.
  </body>
</html>
